@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .fade-out-bg {
    @apply animate-fadeOutBackground;
  }
 
:root {
  /* Primary Colors */
  
  --primary-color: #821F12;
  --background-color: #FFF9F1;
  --hover-color: #F0F9FF;
  --list-item-animation-color: #F5FFF0;
  --edit-color: #E9EBFF;
  --edit-bg-color: #;
  --inner-color-new-item: #66FF63;
  --tag-text-color: #000E78;
  --tag-bg-color: #D6DBFF;
  --delete-color: #484848;
  --delete-bg-color: #E0E0E0;
  --info-modal-bg: #FFEFD9;
  --gray-text: #686868

  /* Padding */
  
  --margin-image: 10px;

  }

}



